#title{
    background-color: #FF4C68;
    color: #fff;
}


h1{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
h3{
    font-weight: bold;
    font-size: 1.5rem;
}

.container-fluid{
    padding: 3% 15% 7%;
}
#features{
    padding-top: 10%;
    padding-bottom: 10%;
    position: relative;
    z-index: 1;
    background-color: white;
}

.features-icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.title-image{
    position: absolute;
    right: 30%;
}

i.features-icon:hover{
    color: #ff4c68;
}

.feature{
    text-align: center;
    padding: 5%;
}
.feature-par{
    color: #8f8f8f;
}

.rotate {
    transform: rotate(15deg);
}
body{
    font-family: 'Montserrat'
}

/*Navigation Bar */

.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}

.navbar-brand{
    font-family: Ubuntu;
    font-size: 2rem;
    font-weight: bold;
}
.nav-link{
    font-size: 1.2rem;
    font-family: Montserrat;
}

/* Download button */
.download-button{
    margin: 5% 3% 5% 0;
}

/* title image */
.title-image{
    width: 60%;
}

/* Testimonial section */
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;

}
h2{
    font-family:Montserrat;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 5%;
}
.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-col{
    padding: 3% 2%;
}

@media (max-width: 1028px){

    #title{
        text-align: center;
    }
    .title-image{
        position: static;
    }
    .rotate{
        transform: rotate(0);
    }
}

/* cta */

#cta{
    padding: 7% 15%;
    background-color: #FF4C68;
    text-align: center;
}
.cta-closing-message{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 700;
    color: white;
}

/* footer */
#footer{
    text-align: center;
    background-color: #fff;
    padding: 7% 15%;
}
.social-icon{
    padding: 20px 10px;
}
